<h1>Панель управления</h1>
<p>Добро пожаловать в админ-панель!</p>

<div class='stats-grid'>
  <div class='stat-card'>
    <a href=''>
      <h3>Заявки</h3>
      <p>24</p>
    </a>
  </div>
  <div class='stat-card'>
    <a href=''>
      <h3>Управление контентом</h3>
    </a>

  </div>
</div>

<div class='logout'><a href='/admin/logout'>Выйти из аккаунта</a></div>
<div class='logout'><a href='/'>На сайт</a></div>