# Зависимости
/node_modules

# Файлы окружения
.env
.env.local
.env.development
.env.test
.env.production

# Логи
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Директории сборки
/dist
/build
/coverage

# IDE и редакторы
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Временные файлы
.DS_Store
*.tmp
*.bak

# Кэш
.cache/
.temp/

# Другое
*.pid
*.seed
*.pid.lock