<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Админка | {{title}}</title>
  <link rel="stylesheet" href="/admin/css/style.css">
</head>
<body class="admin">
  <div class="admin-container">
    <main class="admin-content">
      {{{body}}}
    </main>
  </div>

  <script src="/admin/js/scripts.js"></script>
</body>
</html>